@font-face
  font-family: PTSansRegular;
  src: url('~_fonts/PTSans/PTS55F_W.eot');
  src: url('~_fonts/PTSans/PTS55F_W.eot?#iefix') format('embedded-opentype'),
      url('~_fonts/PTSans/PTS55F_W.woff') format('woff'),
      url('~_fonts/PTSans/PTS55F_W.ttf') format('truetype'),
      url('~_fonts/PTSans/PTS55F_W.svg#pt_sansregular') format('svg');

@font-face
  font-family: PTSerifRegular;
  src: url('~_fonts/PTSerif/PTF55F_W.eot');
  src: url('~_fonts/PTSerif/PTF55F_W.eot?#iefix') format('embedded-opentype'),
      url('~_fonts/PTSerif/PTF55F_W.woff') format('woff'),
      url('~_fonts/PTSerif/PTF55F_W.ttf') format('truetype'),
      url('~_fonts/PTSerif/PTF55F_W.svg#pt_serifregular') format('svg');

@font-face
  font-family: PTSerifBoldItalic;
  src: url('~_fonts/PTSerif/PTF76F_W.eot');
  src: url('~_fonts/PTSerif/PTF76F_W.eot?#iefix') format('embedded-opentype'),
      url('~_fonts/PTSerif/PTF76F_W.woff') format('woff'),
      url('~_fonts/PTSerif/PTF76F_W.ttf') format('truetype'),
      url('~_fonts/PTSerif/PTF76F_W.svg#pt_serifbold_italic') format('svg');

/*@font-face
  font-family: PTSerifBold;
  src: url('../fonts/PTSerif/PTF75F_W.eot');
  src: url('../fonts/PTSerif/PTF75F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif/PTF75F_W.woff') format('woff'),
      url('../fonts/PTSerif/PTF75F_W.woff2') format('woff2'),
      url('../fonts/PTSerif/PTF75F_W.ttf') format('truetype'),
      url('../fonts/PTSerif/PTF75F_W.svg#pt_serifbold') format('svg');





@font-face
  font-family: PTSerifCaptionRegular;
  src: url('../fonts/PTSerif/PTZ55F_W.eot');
  src: url('../fonts/PTSerif/PTZ55F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif/PTZ55F_W.woff') format('woff'),
      url('../fonts/PTSerif/PTZ55F_W.woff2') format('woff2'),
      url('../fonts/PTSerif/PTZ55F_W.ttf') format('truetype'),
      url('../fonts/PTSerif/PTZ55F_W.svg#pt_sans_captionregular') format('svg');

@font-face
  font-family: PTSerifCaptionItalic;
  src: url('../fonts/PTSerif/PTZ56F_W.eot');
  src: url('../fonts/PTSerif/PTZ56F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSerif/PTZ756_W.woff') format('woff'),
      url('../fonts/PTSerif/PTZ756_W.woff2') format('woff2'),
      url('../fonts/PTSerif/PTZ756_W.ttf') format('truetype'),
      url('../fonts/PTSerif/PTZ756_W.svg#pt_sans_captionbold') format('svg');

@font-face
  font-family: PTSansBold;
  src: url('../fonts/PTSans/PTS75F_W.eot');
  src: url('../fonts/PTSans/PTS75F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans/PTS75F_W.woff') format('woff'),
      url('../fonts/PTSans/PTS75F_W.ttf') format('truetype'),
      url('../fonts/PTSans/PTS75F_W.svg#pt_sansbold') format('svg');

@font-face
  font-family: PTSansBoldItalic;
  src: url('../fonts/PTSans/PTS76F_W.eot');
  src: url('../fonts/PTSans/PTS76F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans/PTS76F_W.woff') format('woff'),
      url('../fonts/PTSans/PTS76F_W.ttf') format('truetype'),
      url('../fonts/PTSans/PTS76F_W.svg#pt_sansbold_italic') format('svg');

@font-face
  font-family: PTSansCaptionBold;
  src: url('../fonts/PTSans/PTC75F_W.eot');
  src: url('../fonts/PTSans/PTC75F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans/PTC75F_W.woff') format('woff'),
      url('../fonts/PTSans/PTC75F_W.ttf') format('truetype'),
      url('../fonts/PTSans/PTC75F_W.svg#pt_sans_captionbold') format('svg');

@font-face
  font-family: PTSansCaptionRegular;
  src: url('../fonts/PTSans/PTC55F_W.eot');
  src: url('../fonts/PTSans/PTC55F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans/PTC55F_W.woff') format('woff'),
      url('../fonts/PTSans/PTC55F_W.ttf') format('truetype'),
      url('../fonts/PTSans/PTC55F_W.svg#pt_sans_captionregular') format('svg');

@font-face
  font-family: PTSansItalic;
  src: url('../fonts/PTSans/PTS56F_W.eot');
  src: url('../fonts/PTSans/PTS56F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans/PTS56F_W.woff') format('woff'),
      url('../fonts/PTSans/PTS56F_W.ttf') format('truetype'),
      url('../fonts/PTSans/PTS56F_W.svg#pt_sansitalic') format('svg');

@font-face
  font-family: PTSansNarrowBold;
  src: url('../fonts/PTSans/PTN77F_W.eot');
  src: url('../fonts/PTSans/PTN77F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans/PTN77F_W.woff') format('woff'),
      url('../fonts/PTSans/PTN77F_W.ttf') format('truetype'),
      url('../fonts/PTSans/PTN77F_W.svg#pt_sans_narrowbold') format('svg');

@font-face
  font-family: PTSansNarrowRegular;
  src: url('../fonts/PTSans/PTN57F_W.eot');
  src: url('../fonts/PTSans/PTN57F_W.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PTSans/PTN57F_W.woff') format('woff'),
      url('../fonts/PTSans/PTN57F_W.ttf') format('truetype'),
      url('../fonts/PTSans/PTN57F_W.svg#pt_sans_narrowregular') format('svg');
*/

@font-face
    font-family: OranienbaumRegular
    src: url("~_fonts/OranienbaumRegular/OranienbaumRegular.eot");
    src: url("~_fonts/OranienbaumRegular/OranienbaumRegular.eot?#iefix")format("embedded-opentype"),
    url("~_fonts/OranienbaumRegular/OranienbaumRegular.woff") format("woff"),
    url("~_fonts/OranienbaumRegular/OranienbaumRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

@font-face
    font-family: PTSansCaptionRegular;
    src: url('~_fonts/PTSansCaptionRegular/PTC55F.eot');
    src: url('~_fonts/PTSansCaptionRegular/PTC55F.eot?#iefix') format('embedded-opentype'),
    url('~_fonts/PTSansCaptionRegular/PTC55F.woff') format('woff'),
    url('~_fonts/PTSansCaptionRegular/PTC55F.woff2') format('woff2'),
    url('~_fonts/PTSansCaptionRegular/PTC55F.ttf') format('truetype'),
    url('~_fonts/PTSansCaptionRegular/PTC55F.svg') format('svg');